<% provide(:title, "Editar información de " + @user.name) %>
<div class="container">
	<div>
	    <ol class="breadcrumb ms">
	        <li><%= link_to "Inicio", root_path %></li>
	        <li><%= link_to "Usuarios", users_path %></li>
	        <li class="active"> Editar usuario</li>
	    </ol>
  </div>
	<h1 class="question-instructions">Editar información de <%= @user.name %></h1>
	<%= form_for(@user) do |f| %>
	  <div>
	  	<% if @user.errors.any? %>
			<ul>
  				<% @user.errors.full_messages.each do |msg| %>
    				<li><%= msg %></li>
  				<% end %>
			</ul>
		<% end %>
	  </div>

	  <div class="field">
	    <%= f.label :name %><br>
	    <%= f.text_field :name, class: "form-control ms-input" %>
	  </div>
	  <div class="field">
	    <%= f.label :rut %><br>
	    <%= f.text_field :rut, class: "form-control ms-input" %>
	  </div>
	  <div class="field">
	    <%= f.label :email %><br>
	    <%= f.text_field :email, class: "form-control ms-input" %>
	  </div>
	  <div class="field">
	    <%= label :user_type, "Tipo de Usuario" %>
	    <%= f.select :user_type, options_for_select([["Alumno"], ["Ayudante"]]), class: "form-control" %>
      </div>
      <div class="actions">
	    <%= f.submit 'Actualizar usuario', class: "btn btn-primary square" %>
	    <%= link_to 'Cancelar', users_path, class: "btn btn-primary square" %>	    	
		<%= link_to 'Eliminar', @user, method: :delete, data: { confirm: 'Estás seguro que deseas eliminar a ' + @user.name + '?' }, class: "btn btn-primary square" %>	
	  </div>






	<% end %>
	
</div>




