<% provide(:title, "Usuarios") %>

<div class="container">
	<div>
		<ol class="breadcrumb ms">
		  	<li><%= link_to "Inicio", root_path %></li>
		  	<li class="active"> Usuarios</li>
		</ol>
	</div>
	<div>
		<h1 class="question-instructions">Usuarios de la aplicación</h1>

		<div>
      <%= flash_messages %>
    </div>

		<!-- Trigger the modal with a button -->

		<!-- Modal -->
		<div id="nuevoUsuario" class="modal fade" role="dialog">
		  <div class="modal-dialog">

		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 id="nuevoUsuarioTag">Nuevo usuario</h4>
		      </div>
		      <div class="modal-body">
		        <%= render 'new' %>
		      </div>
		    </div>

		  </div>
		</div>

		<br>
		<br>
		<!-- En caso de que no se encuentre nada -->
		<%if @users.blank? %>
			<h4> No se encontraron coincidencias para <strong>"<%= params[:search] %>"</strong></h4>

			<br>
			<br>
		<%end%>

		<!--/Generic search form -->
		<div class="fluid-row">
			<%= form_tag("/users", :method => "get",class: "form-inline", id:"search-form") do %>
					<div class="pull-left">
						<button type="button" class="btn btn-primary square" data-toggle="modal" data-target="#nuevoUsuario">Crear Usuario</button>
						<%if @searching%>
							<%= link_to 'Volver', users_path, class: "btn btn-primary square" %>
						<%end%>
					</div>
					<div class="pull-right">

					<%if @users.present? %>
					<!-- Generic search form -->
					<!-- A form_tag se le pasa el PATH y el método que por defecto POST -->
			  		<%= text_field_tag :search, params[:search], class:"form-control ms-input", placeholder: "Nombre, Rut, Rol, Email" %>
			  		<%= submit_tag "Buscar", class: "btn btn-primary square"%>
			  		<%end%>
					</div>
			<% end %>
		</div>

		<% if !@users.blank? %>
		<table class="table">
			<tr>
				<th>Nombre</th>
				<th>Rut</th>
				<th>Correo</th>
				<th>Rol</th>
				<th colspan="3">Operaciones</th>
			</tr>
			<% @users.each do |user| %>
				<div id="verUsuario<%= user.id %>" class="modal fade" role="dialog">
					  <div class="modal-dialog">

					    <!-- Modal content-->
					    <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal">&times;</button>
					        <h4 id="nuevoUsuarioTag<%= user.id %>">Detalle usuario</h4>
					      </div>
					      <div class="modal-body">
									<% if user.id != nil %>
										<div class="row">

										  <div class="col-xs-6">
										    <div class="panel panel-default">
										      <div class="panel-body">
										        <h2 class="ms-h2">Información básica</h2>
										        <p>
										          <strong>Rut:</strong> <%= user.rut %>
										        </p>
										        <p>
										          <strong>Correo:</strong> <%= user.email %>
										        </p>
										        <p>
										          <strong>Rol:</strong> <%= user.user_type %>
										        </p>
										      </div>
										    </div>
										  </div>
										  <div class="col-xs-6">
										    <% if user.tests.last %>
										      <div class="panel panel-default">
										        <div class="panel-body">
										          <h2 class="ms-h2">Últimas evaluaciones</h2>
										          <p>
										            <strong>Calificación en <%= @evaluation.name %>:</strong> <%= number_with_precision(user.tests.last.grade, :precision => 1 ) %>
										          </p>
										        </div>
										      </div>
										    <% end %>
										  </div>
										</div>

										<div>
										    <%= link_to 'Volver', users_path, class: "btn btn-primary square" %>
										    <%= link_to 'Editar', edit_user_path(user), class: "btn btn-primary square" %></td>
										    <%= link_to 'Eliminar', user, method: :delete, data: { confirm: 'Estás seguro que deseas eliminar a ' + user.name + '?' }, class: "btn btn-primary square" %>
										</div>
										<% end %>
					      </div>
					    </div>

					  </div>
					</div>
				<tr>
					<td><%= user.name %></td>
					<td><%= user.rut %></td>
					<td><%= user.email %></td>
					<td><%= user.user_type %></td>
					<td><a href="#verUsuario<%= user.id%>" data-toggle="modal">Ver</a></td>
					<td><%= link_to 'Editar', edit_user_path(user) %></td>
					<td><%= link_to 'Eliminar', user, method: :delete, data: { confirm: 'Estás seguro que deseas eliminar a ' + user.name + '?' } %></td>
				</tr>
			<% end %>
		</table>
		<% end %>


		<div>

		</div>

	</div>
</div>
