<% provide(:title, "Nuevo usuario") %>
<div class="container">
  <div>
    <ol class="breadcrumb ms">
        <li><%= link_to "Inicio", root_path %></li>
        <li><%= link_to "Usuarios", users_path %></li>
        <li class="active"> Nuevo usuario</li>
    </ol>
  </div>
  <h1 class="question-instructions">Nuevo usuario</h1>
  <%= form_for(@user) do |f| %>
    <div>
      <% if @user.errors.any? %>
      <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
      </ul>
    <% end %>
    </div>
    <div class="field">
      <%= f.label :email %><br>
      <%= f.text_field :email, class: "form-control ms-input" %>
    </div>
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name, class: "form-control ms-input" %>
    </div>
    <div class="field">
      <%= f.label :rut %><br>
      <%= f.text_field :rut, class: "form-control ms-input" %>
    </div>
    <div class="field"> 
      <%= f.label :password, "Contraseña" %><br />
      <%= f.password_field :password, autocomplete: "off", class: "form-control ms-input" %>
    </div>
    <div class="field">
      <%= label :user_type, "Tipo de Usuario" %>
      <%= f.select :user_type, options_for_select([["Alumno"], ["Ayudante"]]) %>
      </div>
      <%= f.submit 'Crear usuario', :class  => "btn btn-primary square square" %>
      <%= link_to 'Cancelar', users_path, class: "btn btn-primary square square" %>
    </div>
  <% end %>    
</div>

