<div class="container">
	<h1 class="question-instructions"><%= @user.name %></h1>
	<% flash.each do |message_type, message| %>
	<div class=""><%= message %></div>
	<% end %>
	<div class="row">
		<div class="col-xs-6">
			<div class="panel panel-default">
				<div class="panel-body">
					<h2 class="ms-h2">Información básica</h2>
					<p>
						<strong>Rut:</strong> <%= @user.rut %>
					</p>		
					<p>
						<strong>Correo:</strong> <%= @user.email %>
					</p>	
					<p>
						<strong>Rol:</strong> <%= @user.user_type %>
					</p>	
				</div>
			</div>	
		</div>
		<div class="col-xs-6">
			<% if @lastTest %>
			<div class="panel panel-default">
				<div class="panel-body">
					<h2 class="ms-h2">Últimas evaluaciones</h2>
					<p>
						<strong>Calificación en <%= @evaluation.name %>:</strong> 


								<!-- RECORRO CADA UNO DE LOS TEST HECHO POR EL USUARIO
								LOS TUVE QUE RELLENAR MANUALMENTE EN LA BASE DE DATOS -->
								
								<table class="table">
									<tr><td>Ultima nota:</td><td><%=number_with_precision(@lastTest.grade, :precision=>2) %></td></tr>
									<tr><td>Mejor nota:</td><td><%=number_with_precision(@mejorNota, :precision=>2) %></td></tr>
									<tr><td>Peor nota:</td><td><%=number_with_precision(@peorNota, :precision=>2) %></td></tr>
									<tr><td>Promedio:</td><td><%=number_with_precision(@promedioNota, :precision=>2) %></td></tr>
								</table>


								<%= link_to 'Ver historial de calificaciones', 'javascript:;', :onclick => "verMasUser.verMas();", class: "btn btn-primary square", id: "boton-user-info-extra" %>

								<%= render 'grades' %>

							</div>
						</div>

					</p>	
				</div>
			</div>
			<% end %>			
		</div>
	</div>
	
	<div>
		<%= link_to 'Editar', edit_user_path(@user), class: "btn btn-primary square" %></td>
		<%= link_to 'Eliminar', @user, method: :delete, data: { confirm: 'Estás seguro que deseas eliminar a ' + @user.name + '?' }, class: "btn btn-primary square" %>
	</div>
	<div>
		
	</div>
	<div>
		
	</div>
</div>

