<% provide(:title, "Heurísticas de Nielsen") %>
<div class="container">	
	<ol class="breadcrumb ms">
	  	<li><%= link_to "Inicio", root_path %></li>
	  	<li class="active">Heurísticas</li>
	</ol>

	<h1 class="topic-title">Heurísticas de Nielsen</h1>

	<p>Una heurística es una regla general basada en la experiencia que explica problemas de usabilidad, otorga pautas sobre porque los usuarios cometen determinados errores y ayuda a identificarlos. Estas reglas son utilizadas por inspectores para evaluar una interfaz en la metodología conocida como Evaluación Heurística.</p>

	<p>En esta metodología, presentada inicialmente por Jakob Nielsen, las heurísticas representan el punto de partida para una lista ítems o sub-heurísticas que una interfaz debe cumplir.</p>

	<p>Estos principios también representan un estándar a seguir en el proceso de diseño y reparación, siguiendo esta idea describiremos las 10 heurísticas desarrolladas por el Dr. Nielsen acompañando cada una por una adaptación de la lista de comprobación creada por Deniese Pierotti para evaluar interfaces orientadas a la Web.</p>

	<h2 class="ms-h2">En este artículo</h2>
	<ul>
		<% (0..@heuristics.length-1).each do |i| %>
			
			<li><%= link_to "H"+(i+1).to_s+": " + @heuristics[i].name , {:action => "show", :controller => "heuristics", :heuristic_id => (i+1) } %></li>
		<% end %>
		<li><%= link_to "Evaluación Heurística", heuristic_evaluation_path %></li>
	</ul>

	<div>
		<div class="back-box">
			<%= link_to(introduction_path) do %>
				<span class="glyphicon glyphicon-circle-arrow-left page-nav-btn" aria-hidden="true"></span>
			<% end %>
		</div>
		
		<div class="next-box">
			<%= link_to({:action => "show", :controller => "heuristics", :heuristic_id => 1 }, id: "next") do %>
				<span class="glyphicon glyphicon-circle-arrow-right page-nav-btn" aria-hidden="true"></span>
			<% end %>
		</div>
	</div>

	<h2 class="ms-h2">Recursos relacionados</h2>
	<ul>
		<li><%= link_to "Heuŕisticas de Nielsen (ENG, WEB)", 
		"http://www.nngroup.com/articles/ten-usability-heuristics/", :target => "_blank" %></li>
		<li><%= link_to "Ejemplos de las 10 Heurísticas (ENG, WEB)", 
		"http://designingwebinterfaces.com/6-tips-for-a-great-flex-ux-part-5", :target => "_blank" %></li>
		<li><%= link_to "Evaluación Heurística y Lista de comprobación de ítems de D. Pierotti (ESP, PDF)", 
		"http://aipo.es/libro/pdf/15-Evaluacion-Heuristica.pdf", :target => "_blank" %></li>
	</ul>
</div>