<% provide(:title, @course.name) %>
<div class="container">
	<div>
		<ol class="breadcrumb ms">
		  	<li><%= link_to "Inicio", root_path %></li>
		  	<li><%= link_to "Cursos", courses_path %></li>
		  	<li class="active"><%= @course.name %></li>
		</ol>
	</div>
	<div>
		<h1 class="question-instructions"><%= @course.name %></h1>		

		<table class="table">
			<tr>
				<th>Alumno</th>
				<th>Rut</th>
				<th>Correo</th>
				<th class="text-center" colspan="3">Operaciones</th>
			</tr>
			<% @course.users.each do |user| %>
				<tr>
					<td><%= user.name %></td>
					<td><%= user.rut %></td>
					<td><%= user.email %></td>
					<td class="text-center"><%= link_to '', 'javascript:;', :onclick => "verMasUser.verUsuario(#{user.id})" , class: "glyphicon glyphicon-eye-open"%></td>
				</tr>
			<% end %>
		</table>
		<div>
			<%= link_to 'Volver', courses_path, class: "btn btn-primary square" %>
		</div>
	</div>
</div>

<%# Este dialogo contiene la informacion del usuario %>
<div data-role="dialog" id="dialog-user-info" class="padding20 dialog" data-close-button="true" data-overlay="true" data-overlay-color="op-dark" data-overlay-click-close="true" style="width: auto; max-height: 70%; visibility: visible; left: 817.5px; top: 404.5px; overflow-y:auto;"></div>
<%# Se carga dinamicamente usando el script users.coffee %>


