<% provide(:title, "Recursos") %>
<div class="container">
	<div>
		<ol class="breadcrumb ms">
		  	<li><%= link_to "Inicio", root_path %></li>
		  	<li class="active"> Recursos</li>
		</ol>
	</div>

	<h1 class="question-instructions">Recursos</h1>
	
	<div>
		<h2 class="ms-h2">Heurísticas de Nielsen</h2>
		<ul>
			<li><%= link_to "Heuŕisticas de Nielsen (ENG, WEB)", 
		"http://www.nngroup.com/articles/ten-usability-heuristics/", :target => "_blank" %></li>
			<li><%= link_to "Ejemplos de las 10 Heurísticas (ENG, WEB)", 
		"http://designingwebinterfaces.com/6-tips-for-a-great-flex-ux-part-5", :target => "_blank" %></li>
		</ul>	
	</div>

	<div>
		<h2 class="ms-h2">Evaluación Heurística</h2>
		<ul>
			<li><%= link_to "Evaluación Heurística y Lista de comprobación de ítems de D. Pierotti (ESP, PDF)", 
		"http://aipo.es/libro/pdf/15-Evaluacion-Heuristica.pdf", :target => "_blank" %></li>
			<li><%= link_to "Memoria que habla acerca de la Evaluación Heurística (ESP, PDF)", "http://www.issi.uned.es/CalidadSoftware/Noticias/PFC_2.pdf", :target => "_blank" %></li>
		</ul>	
	</div>

	<div>
		<h2 class="ms-h2">Otros</h2>
		<ul>
			<li><%= link_to "Definición del Porcentaje de Rebote en Google Analytics (ESP, WEB)", "https://support.google.com/analytics/answer/1009409?hl=es", :target => "_blank" %></li>
			<li><%= link_to "Estudio acerca de la Tasa de Rebote en E-commerce y valor por transacción (ENG, WEB)", "http://www.wolfgangdigital.com/blog/digital-marketing/wolfgang-e-commerce-kpi-study-2014/",:target => "_blank" %></li>
		</ul>	
	</div>
	
</div>