<header>
	<div class="ms-container navbar ms-navbar navbar-fixed-top">
		
		<div class="title-box">			
		<%= link_to( root_path ) do %>
			<%= image_tag "logo.png", alt: "app logo", class: "logo" %>
			<span class="logo-text">WebForge</span>
		<% end %>

		<div class="place-title">

			<h2 class="ms-h2"> <span class="separator">|</span> Recurso de Aprendizaje de Usabilidad Web</h2>
		</div>
		
		<div class="account-menu">
			<% if current_user %>
				<%= link_to 'Editar Perfil',edit_user_registration_path %>
				<%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete %>
        	<% else %>
            	<%= link_to 'Iniciar sesión', new_user_session_path %>
        	<% end %>
		</div>
		</div>

		<nav>
			<ul class="nav navbar-custom navbar-nav navbar-left">
		        <li><%= link_to "Inicio",   root_path %></li>
		        <li><%= link_to "Acerca del Proyecto",   '#' %></li>
		       		        
		        <li class="dropdown">
		            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
		            	Heurísticas
		            	<span class="caret"></span>
		            </a>
		            <ul class="dropdown-menu multi-column columns-3">
			            <div class="row">
				            <div class="col-sm-4">
					            <ul class="multi-column-dropdown">
						            <li><%= link_to "Introducción", heuristics_path%></li>
						            <li><%= link_to "H1: Visibilidad del Estado del Sistema", {:action => "show", :controller => "heuristics", :heuristic_id => 1 } %></li>
            						<li><%= link_to "H2: Correspondencia entre el Sistema y el Mundo Real", {:action => "show", :controller => "heuristics", :heuristic_id => 2 } %></li>
            						<li><%= link_to "H3: Control y Libertad",  {:action => "show", :controller => "heuristics", :heuristic_id => 3 } %></li>
					            </ul>
				            </div>
				            <div class="col-sm-4">
					            <ul class="multi-column-dropdown">
						            <li><%= link_to "H4: Consistencia y Estándares", {:action => "show", :controller => "heuristics", :heuristic_id => 4 } %></li>
            						<li><%= link_to "H5: Prevención de Errores", {:action => "show", :controller => "heuristics", :heuristic_id => 5 } %></li>
            						<li><%= link_to "H6: Reconocer antes que Recordar", {:action => "show", :controller => "heuristics", :heuristic_id => 6 } %></li>
            						<li><%= link_to "H7: Flexibilidad y Eficiencia de Uso", {:action => "show", :controller => "heuristics", :heuristic_id => 7 } %></li>
					            </ul>
				            </div>
				            <div class="col-sm-4">
					            <ul class="multi-column-dropdown">
						            <li><%= link_to "H8: Estética de Diálogos y Diseño Minimalista", {:action => "show", :controller => "heuristics", :heuristic_id => 8 } %></li>
            						<li><%= link_to "H9: Ayuda a los Usuarios ante Errores", {:action => "show", :controller => "heuristics", :heuristic_id => 9 } %></li>
            						<li><%= link_to "H10: Ayuda y Documentación", {:action => "show", :controller => "heuristics", :heuristic_id => 10 } %></li>
						            <li><%= link_to "Evaluación Heurística", heuristic_evaluation_path %></li>
					            </ul>
				            </div>
			            </div>
		            </ul>
		        </li>
		        

		        <li><%= link_to "Evaluaciones", evaluations_path %></li>
		        <li><%= link_to "Módulo de Práctica", '#' %></li>
		        <li><%= link_to "Recursos", '#' %></li>
		        <li><%= link_to "Ayuda", '#' %></li>
	      	</ul>
		</nav> 
	</div>
</header>

