<nav class="navbar navbar-default navbar-fixed-top wf-nav">
	<div class="container">
		<div class="nav-bar header">
			<%= link_to( root_path, class: "navbar-brand" ) do %>
				<%= image_tag "logo.png", alt: "app logo", class: "app-logo" %>
			<% end %>
		</div>
		<div>
			<ul class="nav navbar-nav navbar-left">
				<li class="dropdown">
		            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Heurísticas<span class="caret"></span></a>
		            <ul class="dropdown-menu multi-column columns-3 multi-col">
			            <div class="row">
				            <div class="col-sm-4">
					            <ul class="multi-column-dropdown">
						            <li><%= link_to "Introducción", heuristics_path%></li>
						            <li><%= link_to "H1: Visibilidad del Estado del Sistema", {:action => "show", :controller => "heuristics", :heuristic_id => 1 } %></li>
            						<li><%= link_to "H2: Correspondencia entre el Sistema y el Mundo Real", {:action => "show", :controller => "heuristics", :heuristic_id => 2 } %></li>
            						<li><%= link_to "H3: Control y Libertad",  {:action => "show", :controller => "heuristics", :heuristic_id => 3 } %></li>
					            </ul>
				            </div>
				            <div class="col-sm-4">
					            <ul class="multi-column-dropdown">
						            <li><%= link_to "H4: Consistencia y Estándares", {:action => "show", :controller => "heuristics", :heuristic_id => 4 } %></li>
            						<li><%= link_to "H5: Prevención de Errores", {:action => "show", :controller => "heuristics", :heuristic_id => 5 } %></li>
            						<li><%= link_to "H6: Reconocer antes que Recordar", {:action => "show", :controller => "heuristics", :heuristic_id => 6 } %></li>
            						<li><%= link_to "H7: Flexibilidad y Eficiencia de Uso", {:action => "show", :controller => "heuristics", :heuristic_id => 7 } %></li>
					            </ul>
				            </div>
				            <div class="col-sm-4">
					            <ul class="multi-column-dropdown">
						            <li><%= link_to "H8: Estética de Diálogos y Diseño Minimalista", {:action => "show", :controller => "heuristics", :heuristic_id => 8 } %></li>
            						<li><%= link_to "H9: Ayuda a los Usuarios ante Errores", {:action => "show", :controller => "heuristics", :heuristic_id => 9 } %></li>
            						<li><%= link_to "H10: Ayuda y Documentación", {:action => "show", :controller => "heuristics", :heuristic_id => 10 } %></li>
						            <li><%= link_to "Evaluación Heurística", heuristic_evaluation_path %></li>
					            </ul>
				            </div>
			            </div>
		            </ul>
		        </li>
				<li><%= link_to "Evaluaciones", evaluations_path %></li>
		        <li><%= link_to "Módulo de Práctica", practices_path %></li>
		        <li><%= link_to "Recursos", references_path %></li>
			</ul>
		</div>
		<div>
			<ul class="nav navbar-nav navbar-right">
				<% if current_user %>
					<li class="user-name"><%= current_user.name %></li>
					<li class="user-icon">
						<span class="glyphicon glyphicon-user"></span>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" id="dropdown-opciones" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
							<span class="glyphicon glyphicon-cog"></span>
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu multi-col">
							<li><%= link_to 'Editar Perfil',edit_user_registration_path %></li>
							<% if (Chat.where(user_id: current_user.id).length > 0) || (current_user.admin?) %>
								<li><%= link_to 'Conversaciones', {controller: "chats", action: "index"} %></li>
							<% end %>
							<li><%= link_to 'Ayuda', '#' %></li>
							<% if current_user.admin? %>
								<li><%= link_to 'Usuarios', users_path %></li>
							<% end %>
							<li><%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete %></li>
						</ul>
					</li>
				<% else %>
					<li><%= link_to 'Iniciar sesión', new_user_session_path %></li>
				<% end %>
			</ul>
		</div>
	</div>
</nav>
